# Background job yml file configuration
apiVersion: batch/v1
kind: CronJob
metadata:
  name: ftp-adapter
  namespace: dev
spec:
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app: ftp-adapter
        spec:
          containers:
            - name: ftp-adapter-container
              image: gcr.io/clus-demo/ftp-adapter-image
              imagePullPolicy: IfNotPresent
              command:
                - npm
                - run
                - start
              env:
                - name: CLIENT_EMAIL
                  valueFrom:
                    secretKeyRef:
                      name: sftp-service-secret
                      key: CLIENT_EMAIL
                - name: CLIENT_ID
                  valueFrom:
                    secretKeyRef:
                      name: sftp-service-secret
                      key: CLIENT_ID
                - name: PRIVATE_KEY
                  valueFrom:
                    secretKeyRef:
                      name: sftp-service-secret
                      key: PRIVATE_KEY
                - name: PROJECT_ID
                  valueFrom:
                    secretKeyRef:
                      name: sftp-service-secret
                      key: PROJECT_ID
                - name: TOKEN_URL
                  valueFrom:
                    secretKeyRef:
                      name: sftp-service-secret
                      key: TOKEN_URL
                - name: allFileExtension
                  valueFrom:
                    secretKeyRef:
                      name: sftp-service-secret
                      key: allFileExtension
                - name: apiURL
                  valueFrom:
                    secretKeyRef:
                      name: sftp-service-secret
                      key: apiURL
                - name: bucketName
                  valueFrom:
                    secretKeyRef:
                      name: sftp-service-secret
                      key: bucketName
                - name: destinationPath
                  valueFrom:
                    secretKeyRef:
                      name: sftp-service-secret
                      key: destinationPath
                - name: ftpServerPath
                  valueFrom:
                    secretKeyRef:
                      name: sftp-service-secret
                      key: ftpServerPath
                - name: HOST
                  valueFrom:
                    secretKeyRef:
                      name: sftp-service-secret
                      key: HOST
                - name: PORT
                  valueFrom:
                    secretKeyRef:
                      name: sftp-service-secret
                      key: PORT
                - name: USER
                  valueFrom:
                    secretKeyRef:
                      name: sftp-service-secret
                      key: USER
                - name: PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: sftp-service-secret
                      key: PASSWORD
                - name: SECURE
                  valueFrom:
                    secretKeyRef:
                      name: sftp-service-secret
                      key: SECURE
          restartPolicy: OnFailure
  schedule: "0 */12 * * *"
  successfulJobsHistoryLimit: 3
